<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosi.css') }}">
    <title>Iniciar Sesion</title>
</head>
<body>   
    <div class="formulario">
        <h1>Registro</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form method="post" action="{{ url_for('main.pagina_de_registro') }}">
            <div class="username">
                <input type="text" name="username" required>
                <label>Nombre de usuario</label>
            </div>

            <div class="username">
                <input type="text" name="email" required>
                <label>Email</label>
            </div>

            <div class="username">
                <input type="password" name="password" required>
                <label>Contraseña</label>
            </div>

            <div class="recordar">
                <a href="{{ url_for('main.olvido_contrasena') }}">Olvido su contraseña</a>
                <input type="submit" value="Registrar">
            </div>
            

        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
